@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Outfit:wght@100..900&display=swap');


@theme {
  --color-primary: #5F6FFF;
 
}

::-webkit-scrollbar{
  @apply hidden;
}

*{
  font-family: Outfit;
}